@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  .form{
    display: inline-block;
    background: #e7eaf0;
    width: 900px;
    height: 700px;
    font-weight: bold;
    padding: 2rem;
    border-radius: 10px;
  }

  .login-form{
    display: inline-block;
    background: #e7eaf0;
    width: 600px;
    height: 300px;
    font-weight: bold;
    padding: 2rem;
    border-radius: 10px;
  }

  small{
    display:flex;
    justify-content: flex-end;
  }

  .results{
    background:rgb(255, 255, 255);
    padding: 1rem;
    font-weight: bold;    
  }

  .orange{
    background:rgb(214, 151, 78);
  }

  .blue{
    background: rgb(184, 208, 231);
  }

  .buttonContainer{
    display: flex;
    justify-content: flex-end;
    height: 35px;
    gap: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .fullLength{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .passwordInput {
    width: 100%;
    padding-right: 70px; 
    box-sizing: border-box;
    height: 40px;
    font-size: 1rem;
  }

  .passwordWrapper{
    position: relative;
    width: 100%;
  }

  .visibilityButtonContainer{
    display:flex;
    justify-content: flex-end;
  }

  .visibilityButton{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-38%);
    text-decoration: underline;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #726f6f;
    font-size: 0.9rem;
    padding: 0;
    height: 100%;
  }

  .backForthButton{
    border: none;
    text-decoration: underline;
    text-decoration-color: white;
    color: white;
    background: none;
    margin-bottom: 2px;
  }

  .backForthContainer{
    display:flex;
    justify-content: space-between;
  }
}

